@keyframes anicloud {
	from { left: 200; }
	to { left: -100%; }
}
@-webkit-keyframes anicloud {
	from {left: 200; }
	to { left: -100%; }
}

.mincloud1{
	background-image: url('../images/minicloud1.png');
	background-size: 20em 20em;
	position:fixed;
	height: 15em;
	width:15em;
	top:2em;
	left: 200em;
	z-index:1;
	-webkit-transform: translate3d(0,0,0);
	animation: anicloud 15s linear infinite;
	-webkit-animation: anicloud 15s linear infinite;
}
.mincloud2{
	background-image: url('../images/minicloud2.png');
	background-size: 20em 20em;
	position:fixed;
	height: 15em;
	width:15em;
	top:4em;
	left: 200em;
	z-index:0;
	-webkit-transform: translate3d(0,0,0);
	animation: anicloud 20s linear infinite;
	-webkit-animation: anicloud 20s linear infinite;
}
@keyframes anicloudbig {
	from { left: 200; }
	to { left: -20%; }
}
@-webkit-keyframes anicloudbig {
	from {left: 200; }
	to { left: -20%; }
}
.bigcloud{
	background-image: url('../images/bigcloud.png');
	background-size: 20em 20em;
	position:fixed;
	height: 15em;
	width:15em;
	top:4em;
	left:200em;
	z-index:0;
	-webkit-transform: translate3d(0,0,0);
	animation: anicloudbig 43s linear infinite;
	-webkit-animation: anicloudbig 43s linear infinite;
}
