.Movground{
	background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTKXxfnxhl8DoXgQQPqNLvDDZlSpQpwfY0G-zflPpUZn03qeLlAroldYuFK');
	background-repeat: repeat-x;
	position: absolute;
}