
.Player {
	position: absolute;
	top: 0em;
	left: 0em;
	width: 6em;
	height: 5em;
	border-radius: 2em;
	background: blue;
	z-index: 2;
	transform:translateZ(0);

	/*-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;*/

	/*-webkit-transform: rotateY(60deg);
    -moz-transform: rotateY(60deg);
    -o-transform: rotateY(60deg);
    -ms-transform: rotateY(60deg);
    transform: rotateY(60deg);*/
}

/*.rotated { transform:rotate(25deg); -webkit-transform:rotate(25deg); -moz-transform:rotate(25deg); -o-transform:rotate(25deg); }
*/
.Player-eyes{
	position: absolute;
	left: 4em;
	top: 0.8em;
	background: white;
	border-radius: 4em;
	height: 1.5em;
	width: 1.5em;
	transform:translateZ(0);
}
.Player-eyeball{
	position: absolute;
	left: 5em;
	top: 1.2em;
	background: black;
	border-radius: 4em;
	height: 0.5em;
	width: 0.5em;
	transform:translateZ(0);
}
@keyframes flap {
	from {
		transform: rotateX(0);
	}
	to{
		transform: rotateX(180deg);
	}
}
.Player-wings{
	position: absolute;
	left:1.25em;
	top: 2.8em;
	height: 0.5em;
	width: 2.3em;

	background: yellow;
    -webkit-transform: translate3d(0,0,0);
	transform-origin: top left;
	-webkit-animation: 0.2s flap alternate infinite;
	animation: 0.2s flap alternate infinite;
}
@keyframes wiggle{
	0%{top: 0em;}
	25% {top: -1em;}
	50% {top: -2em;}
	75% {top: -1em;}
	100%{top: 0em;}
}

.Player.wiggle{
	/*transform: translate(0,-3px);
    -webkit-transform: translate(0,-3px);*/
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: 2.5s wiggle infinite;

}
.Player.rotate{
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
	z-index: 5;
}

.Score-count {
position: absolute;
left: 50%;
top: 1em;
font-family: 'Comic Sans MS', serif;
font-size: 4.4em;
color: white;
z-index:5;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 12em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
font-family: 'Comic Sans MS', serif;
font-size: 2.4em;
color: white;
}
.Scoreboard-points {
font-family: 'Comic Sans MS', serif;
font-size: 4.4em;
color: white;
}
.Scoreboard-highscore {
font-family: 'Comic Sans MS', serif;
font-size: 2.4em;
color: white;
}
body {
background: black;
}
.browsehappy {
margin: 0.2em 0;
background: ?#?ccc?;
color: #000;
padding: 0.2em 0;
}
@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
 
.GameCanvas {
font-size: 10px;
position: absolute;
left: 50%;
top: 50%;
width: 102.4em;
height: 57.6em;
margin-left: -51.2em;
margin-top: -28.8em;
overflow: hidden;
background: rgb(0,150,255);
z-index: -1;
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
.Backimg{

	background-image: url('../images/backimg.png') repeat-x;
	background-size: 20em 20em;
	position:fixed;
	height: 20em;
	width:250em;
	top:42em;
	left:0;
	z-index:-1;
	-webkit-transform: translate3d(0,0,0);
	animation: animatedBackground 3s linear infinite;
	-webkit-animation: animatedBackground 3s linear infinite;
}

.Backimg.stop{

	background-image: url('../images/backimg.png') repeat-x;
	background-size: 10em 20em;
	position:fixed;
	height: 20em;
	width:480em;
	top:42em;
	left:0;
	z-index:-1;
	-webkit-transform: translate3d(0,0,0);
	animation: animatedBackground 0s linear infinite;
	-webkit-animation: animatedBackground 0s linear infinite;
}


.Earth {
	background: url('../images/backimg.png');
	background-size: 12em 20em;
	position: absolute;
	height: 20em;
	width: 103em;
	z-index: 2;
}
.Earth2 {
	background: url('../images/backimg.png');
	background-size: 12em 20em;
	position: absolute;
	height: 20em;
	width: 103em;
	z-index: 2;
}





