/* Pipes */
.pipe1 {
	background: url('../images/pipe.png') top;
	position: absolute;
	height: 100em;
	width: 6em;
	z-index: 2;
}

.pipe2 {
	background: url('../images/pipe.png') bottom;
	position: absolute;
	height: 100em;
	width: 6em;
	z-index: 2;
}

.pipe3 {
	background: url('../images/pipe.png') top;
	position: absolute;
	height: 100em;
	width: 6em;
	z-index: 2;
}

.pipe4 {
	background: url('../images/pipe.png') bottom;
	position: absolute;
	height: 100em;
	width: 6em;
	z-index: 2;
}

.pipe5 {
	background: url('../images/pipe.png') top;
	position: absolute;
	height: 100em;
	width: 6em;
	z-index: 2;
}

.pipe6 {
	background: url('../images/pipe.png') bottom;
	position: absolute;
	height: 100em;
	width: 6em;
	z-index: 2;
}